
# PostgreSQL
POSTGRES_USER=sync_web
POSTGRES_PASSWORD=


# Social Accounts
SOCIALACCOUNT_DISCORD_CLIENT_ID=
SOCIALACCOUNT_DISCORD_SECRET=

SOCIALACCOUNT_STEAM_CLIENT_ID=
SOCIALACCOUNT_STEAM_SECRET=

SOCIALACCOUNT_TWITCH_CLIENT_ID=
SOCIALACCOUNT_TWITCH_SECRET=

# General settings
DJANGO_SECRET_KEY=
