ADMIN_EMAIL=admin@admin.com
SITE_DOMAIN=dev.domain.com
PARENT_DOMAIN=domain.com

# PostgreSQL
POSTGRES_USER=sync_web
POSTGRES_PASSWORD=password

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Social Accounts
SOCIALACCOUNT_DISCORD_CLIENT_ID=
SOCIALACCOUNT_DISCORD_SECRET=

SOCIALACCOUNT_STEAM_CLIENT_ID=
SOCIALACCOUNT_STEAM_SECRET=

SOCIALACCOUNT_TWITCH_CLIENT_ID=
SOCIALACCOUNT_TWITCH_SECRET=

# General settings
DJANGO_SECRET_KEY=
